@{
    ViewData["Title"] = "Register";
}


<div class="text-center">
    <h1 class="display-4">Register</h1>
</div>
<h2 id="error" runat="server">
<div class ="login-form">
    <form method="POST">
        <label for="email">Email</label><br>
        <input type="text" id="email" name="email"><br>
        <label for="password">Password</label><br>
        <input type="text" id="password" name="password">
        <input type="submit" value="Submit">
    </form> 
</div>
<div class="register-link">
      <a asp-area="" asp-controller="Home" asp-action="Index" class="Button">Login</a>
</div>

