@{
    ViewData["Title"] = "Login";
}
@ViewData["error"]

<div class="text-center">
    <h1 class="display-4">Login</h1>
</div>
<h2 id="error" runat="server">
<div class ="login-form">
    <form method="POST">
        <label for="email">Email</label><br>
        <input type="text" id="email" name="email" required><br>
        <label for="username">UserName</label><br>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Password</label><br>
        <input type="text" id="password" name="password" required>
        <input type="submit" value="Submit">
    </form> 
</div>
<div class="register-link">
    <a asp-area="" asp-controller="Register" asp-action="Index" class="Button">Register</a>
</div>
