@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Login</h1>
</div>
<div class ="login-form">
    <form method="POST">
        <label for="email">Email</label><br>
        <input type="text" id="email" name="email"><br>
        <label for="password">Password</label><br>
        <input type="text" id="password" name="password">
        <input type="submit" value="Submit">
    </form> 
</div>
<div class="register-link">
    <a href="Register.cshtml">Register</a>
</div>
