@{ViewData["Title"] = "Main";}
@ViewData["error"]
@ViewData["username"]

<div class="user-area">
    <h1 class="display-4">User Area</h1>
</div>
<div class="subscription-area">
    <h1 class="display-4">Subscription Area</h1>
</div>
<div class="query-area">
    <h1 class="display-4">Query Area</h1>
</div>
<div class="logout-link">
    <a asp-area="" asp-controller="Home" asp-action="Index" class="Button">Logout</a>
</div>






