@{
    ViewData["Title"] = "Main";
}
@ViewData["error"]

<div class="text-center">
    <h1 class="display-4">MainPage</h1>
</div>
<div class="text-center">
    <h1 class="display-4">MainPage</h1>
</div>
<div class="text-center">
    <h1 class="display-4">MainPage</h1>
</div>
<div class="text-center">
    <h1 class="display-4">MainPage</h1>
</div>
<div class="text-center">
    <h1 class="display-4">MainPage</h1>
</div>



